Repository judithsanchez/martas-health-lab: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests, prettier --write

fix: fix metric card overflow by removing h-full and adjusting padding for Issue #86
  src/components/ReportDetailView.tsx
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests

ui: ensure metric cards occupy full space uniformly for Issue #86
  src/components/ReportDetailView.tsx
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests

ui: increase fonts in segmental and charts, and fix chart data limit to 5 for Issue #86
  src/components/ReportDetailView.tsx
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests

ui: disable chart animations, increase chart font sizes and segmental vertical space for Issue #86
  src/components/ReportDetailView.tsx
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests

fix: eliminate all chart animations including dots and restore fills for Issue #86
  src/components/ReportDetailView.tsx
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests

ui: remove all chart tooltips on hover for Issue #86
  src/components/ReportDetailView.tsx
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests

ui: increase font sizes across report components for better accessibility (#87)
  src/components/ReportDetailView.tsx
  src/components/report/CompositionChart.tsx
  src/components/report/Gauge.tsx
  src/components/report/ReportHeader.tsx
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests

feat: reorder report layout and add bone/visceral charts for Issue #86
  src/components/ReportDetailView.tsx
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests

feat: refactor layout to two vertical columns for Issue #86
  src/components/ReportDetailView.tsx
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests

style: improve spacing for Body Water section in CompositionChart for Issue #86
  src/components/report/CompositionChart.tsx
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests

style: distribute water components across the bar for Issue #86
  src/components/report/CompositionChart.tsx
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests

style: allow MFR description to go full width for Issue #86
  src/components/ReportDetailView.tsx
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests

style: increase font size and reduce padding in Segmental Analysis for Issue #86
  src/components/ReportDetailView.tsx
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests

style: tightly pack segmental analysis rows for Issue #86
  src/components/ReportDetailView.tsx
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests

style: tighten gaps in Physical Indices and Metabolic Health for Issue #86
  src/components/ReportDetailView.tsx
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests

style: reduce vertical height of metrics containers and rows for Issue #86
  src/components/ReportDetailView.tsx
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests

style: equalize column heights and space containers evenly for Issue #86
  src/components/ReportDetailView.tsx
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests

style: update Bone Mass and Visceral Fat chart colors to blue and purple
  src/components/ReportDetailView.tsx
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests

style: mute blue and purple chart colors for a softer look
  src/components/ReportDetailView.tsx
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests

feat: reorder report layout and add bone/visceral charts for Issue #86 (#88)
  src/components/ReportDetailView.tsx
  src/components/report/CompositionChart.tsx
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests

fix: remove height constraints to eliminate PDF whitespace for Issue #86
  src/components/ReportDetailView.tsx
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests

fix: restore column balance and add aggressive height removal script for PDF generation
  src/app/api/reports/[clientId]/[reportId]/pdf/route.ts
  src/components/ReportDetailView.tsx
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests

fix: correct PDF height scaling ratio to eliminate blank space
  src/app/api/reports/[clientId]/[reportId]/pdf/route.ts
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests

Fix PDF whitespace and refine report layout balance (#90)
  src/app/api/reports/[clientId]/[reportId]/pdf/route.ts
  src/components/ReportDetailView.tsx
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests

fix: use git reset in CI to force production sync and resolve divergence for Issue #89
  .github/workflows/ci.yml
Due: none

fix: use git reset in CI to force production sync and resolve divergence for Issue #89 (#91)
  .github/workflows/ci.yml
Due: none

fix: report and profile optimization
  31032026.xlsx
  src/components/ClientDetailsView.tsx
  src/components/ClientForm.tsx
  src/components/ReportDetailView.tsx
  src/components/report/ReportHeader.tsx
  src/lib/actions/clients.ts
  src/lib/utils/date-utils.ts
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests

fix: style of edit button and translate form labels to spanish
  src/components/RecordForm.tsx
  src/components/report/ReportHeader.tsx
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests

fix: use system chromium-browser for puppeteer on ARM architecture
  src/app/api/reports/[clientId]/[reportId]/pdf/route.ts
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests

fix: use request port for puppeteer local host connection
  src/app/api/reports/[clientId]/[reportId]/pdf/route.ts
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests

fix: report and profile optimization (#92)
  31032026.xlsx
  src/app/api/reports/[clientId]/[reportId]/pdf/route.ts
  src/components/ClientDetailsView.tsx
  src/components/ClientForm.tsx
  src/components/RecordForm.tsx
  src/components/ReportDetailView.tsx
  src/components/report/ReportHeader.tsx
  src/lib/actions/clients.ts
  src/lib/utils/date-utils.ts
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests

Make Tailscale deployment safe
  .github/workflows/ci.yml
  docker-compose.yml
Due: none

Slim and bound production deployment
  .github/workflows/ci.yml
  Dockerfile
  docker-compose.yml
  next.config.js
  package-lock.json
  src/app/api/reports/[clientId]/[reportId]/pdf/route.ts
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests, prettier --write

Clean failed deployment cache
  .github/workflows/ci.yml
Due: none

Slim and bound production deployment (#94)
  .github/workflows/ci.yml
  Dockerfile
  docker-compose.yml
  next.config.js
  package-lock.json
  src/app/api/reports/[clientId]/[reportId]/pdf/route.ts
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests, prettier --write

Use durable Tailscale OAuth for deploys
  .github/workflows/ci.yml
Due: none

Use durable Tailscale OAuth for deploys (#95)
  .github/workflows/ci.yml
Due: none

Prune deploy build cache immediately
  .github/workflows/ci.yml
Due: none

Prune deploy build cache immediately (#96)
  .github/workflows/ci.yml
Due: none

Build production ARM image outside the Pi
  .github/workflows/ci.yml
  scripts/deploy-production.sh
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  bash -c 'npm run type-check': any of: *.{ts,tsx}
  vitest related --run --passWithNoTests: any of: *.{ts,tsx}
  prettier --write: any of: *.{js,jsx,json,md}
