Repository judithsanchez/martas-health-lab: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests, prettier --write

.lintstagedrc:

{
    "*.{ts,tsx}": [
        "eslint --fix",
        "bash -c 'npm run type-check'",
        "vitest related --run --passWithNoTests"
    ],
    "*.{js,jsx,json,md}": [
        "prettier --write"
    ]
}

test: mock Logger in all action tests to ensure clean quality checks
  src/lib/actions/__tests__/clients.test.ts
  src/lib/actions/__tests__/csv-upload.test.ts
  src/lib/actions/__tests__/persist-csv.test.ts
  src/lib/actions/__tests__/records.test.ts
  src/lib/actions/__tests__/xlsx-upload.test.ts
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests

feat: implement persistent system logging and integrate across actions (#64)
  package.json
  pnpm-lock.yaml
  src/components/CsvUploadFlow.tsx
  src/components/__tests__/CsvUploadFlow.test.tsx
  src/lib/actions/__tests__/clients.test.ts
  src/lib/actions/__tests__/csv-upload.test.ts
  src/lib/actions/__tests__/persist-csv.test.ts
  src/lib/actions/__tests__/records.test.ts
  src/lib/actions/__tests__/xlsx-upload.test.ts
  src/lib/actions/clients.ts
  src/lib/actions/csv-upload.ts
  src/lib/actions/persist-csv.ts
  src/lib/actions/records.ts
  src/lib/db/schema.ts
  src/lib/logger.ts
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests, prettier --write

fix: resolve upload delimiter mismatch, 2-digit year parsing, and missing logs table
  check_db.ts
  mock_report.csv
  src/components/ClientListWidget.tsx
  src/components/CsvUploadFlow.tsx
  src/components/RecordForm.tsx
  src/components/ReportDetailView.tsx
  src/lib/__tests__/tanita-parser.test.ts
  src/lib/actions/__tests__/csv-upload.test.ts
  src/lib/actions/__tests__/persist-csv.test.ts
  src/lib/actions/__tests__/xlsx-upload.test.ts
  src/lib/actions/csv-upload.ts
  src/lib/actions/persist-csv.ts
  src/lib/db/schema.ts
  src/lib/logger.ts
  src/lib/manual-test.ts
  src/lib/tanita-parser.ts
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests

chore: cleanup temporary diagnostic and test scripts
  check_db.ts
  mock_report.csv
  src/components/CsvUploadFlow.tsx
  src/components/__tests__/CsvUploadFlow.test.tsx
  src/lib/actions/__tests__/csv-upload.test.ts
  src/lib/actions/__tests__/persist-csv.test.ts
  src/lib/actions/csv-upload.ts
  src/lib/logger.ts
  src/lib/manual-test.ts
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests

Fix: Resolve Judith's Upload Errors & Implement Persistent Logging (#65)
  src/components/ClientListWidget.tsx
  src/components/CsvUploadFlow.tsx
  src/components/RecordForm.tsx
  src/components/ReportDetailView.tsx
  src/components/__tests__/CsvUploadFlow.test.tsx
  src/lib/__tests__/tanita-parser.test.ts
  src/lib/actions/__tests__/csv-upload.test.ts
  src/lib/actions/__tests__/persist-csv.test.ts
  src/lib/actions/__tests__/xlsx-upload.test.ts
  src/lib/actions/csv-upload.ts
  src/lib/actions/persist-csv.ts
  src/lib/db/schema.ts
  src/lib/logger.ts
  src/lib/tanita-parser.ts
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests

fix(upload): handle wrapped/quoted Tanita CSV records
  .gitignore
  19022026.csv
  27022026.csv
  query_logs_debug.js
  src/lib/__tests__/tanita-parser.test.ts
  src/lib/__tests__/tanita-real-files.test.ts
  src/lib/actions/csv-upload.ts
  src/lib/tanita-parser.ts
  test_tanita_debug.js
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests, prettier --write

fix
  .env.example
  package-lock.json
  src/app/chart-playground/page.tsx
  src/components/ClientDetailsView.tsx
  src/components/ClientListWidget.tsx
  src/components/ReportDetailView.tsx
  src/components/report/ReportHeader.tsx
  src/lib/actions/csv-upload.ts
  src/lib/tanita-parser.ts
  src/lib/utils/date-utils.ts
  test_papa_direct.js
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests, prettier --write

fix(upload): handle wrapped/quoted Tanita CSV records (#66)
  .env.example
  .gitignore
  19022026.csv
  27022026.csv
  package-lock.json
  query_logs_debug.js
  src/app/chart-playground/page.tsx
  src/components/ClientDetailsView.tsx
  src/components/ClientListWidget.tsx
  src/components/ReportDetailView.tsx
  src/components/report/ReportHeader.tsx
  src/lib/__tests__/tanita-parser.test.ts
  src/lib/__tests__/tanita-real-files.test.ts
  src/lib/actions/csv-upload.ts
  src/lib/tanita-parser.ts
  src/lib/utils/date-utils.ts
  test_papa_direct.js
  test_tanita_debug.js
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests, prettier --write

feat: allow uploading Tanita files directly from client profile
  src/components/ClientDetailsView.tsx
  src/components/CsvUploadFlow.tsx
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests

chore: clarify labeling between manual entry and file import
  src/app/page.tsx
  src/components/ClientDetailsView.tsx
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests

feat: allow uploading Tanita files directly from client profile (#67)
  src/app/page.tsx
  src/components/ClientDetailsView.tsx
  src/components/CsvUploadFlow.tsx
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests

chore: migrate old data
  CALCULATIONS.md
  README.md
  drizzle.config.ts
  scripts/migrate-tanita-sqlite.ts
  src/components/ClientDetailsView.tsx
  src/components/ClientForm.tsx
  src/components/ClientListWidget.tsx
  src/components/ClientManager.tsx
  src/lib/actions/clients.ts
  src/lib/db/schema.ts
  src/lib/utils/bia-calculations.ts
  src/lib/utils/date-utils.ts
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests, prettier --write

feat: filter clients by active status in the backend and display client active status in the details view.
  src/components/ClientDetailsView.tsx
  src/lib/actions/clients.ts
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests

feat: add script to calculate and correct metabolic age and DCI for measurements.
  scripts/fix-metabolic-age.ts
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests

feat: Enhance record forms and CSV upload flow with color-coded input/calculated field distinction and legends.
  src/components/CsvUploadFlow.tsx
  src/components/RecordForm.tsx
  src/lib/tanita-parser.ts
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests

test: update CsvUploadFlow tests for Spanish translation
  src/components/ClientDetailsView.tsx
  src/components/CsvUploadFlow.tsx
  src/components/RecordForm.tsx
  src/components/__tests__/CsvUploadFlow.test.tsx
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests

chore: migrate old data (#68)
  CALCULATIONS.md
  README.md
  drizzle.config.ts
  scripts/fix-metabolic-age.ts
  scripts/migrate-tanita-sqlite.ts
  src/components/ClientDetailsView.tsx
  src/components/ClientForm.tsx
  src/components/ClientListWidget.tsx
  src/components/ClientManager.tsx
  src/components/CsvUploadFlow.tsx
  src/components/RecordForm.tsx
  src/components/__tests__/CsvUploadFlow.test.tsx
  src/lib/actions/clients.ts
  src/lib/db/schema.ts
  src/lib/tanita-parser.ts
  src/lib/utils/bia-calculations.ts
  src/lib/utils/date-utils.ts
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests, prettier --write

chore: add ts-node as dev dependency for running migration scripts
  package-lock.json
  package.json
Due: prettier --write

chore: update pnpm lockfile for ts-node and typescript version
  pnpm-lock.yaml
Due: none

chore: add ts-node as dev dependency for running migration scripts (#69)
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: add static data labels and dates to dashboard graphs for Issue #70
  src/components/ReportDetailView.tsx
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests

feat: add static data labels and dates to dashboard graphs for Issue #70 (#71)
  src/components/ReportDetailView.tsx
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests

fix: auto-migrate prod database on startup for Issue #72
  package.json
  scripts/db-upgrade.js
Due: prettier --write

fix: auto-migrate prod database on startup for Issue #72 (#73)
  package.json
  scripts/db-upgrade.js
Due: prettier --write

fix: force start date render in charts for Issue #74
  src/components/ReportDetailView.tsx
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests

fix: remove redundant hover tooltips from charts for Issue #76
  src/components/ReportDetailView.tsx
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests

fix: disable chart animations and fix first date visibility for Issue #78
  src/components/ReportDetailView.tsx
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests

fix: disable all chart hover effects and animations for Issue #80
  src/components/ReportDetailView.tsx
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests

fix: limit chart to last 5 records and apply all polishing fixes for Issue #82
  src/components/ReportDetailView.tsx
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests

fix: filter chart history by report date and apply final polishing for Issue #84
  src/components/ReportDetailView.tsx
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests

fix: force start date render in charts for Issue #74 (#75)
  src/components/ReportDetailView.tsx
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests

fix: remove redundant hover tooltips from charts for Issue #76 (#77)
  src/components/ReportDetailView.tsx
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests

fix: disable chart animations and fix first date visibility for Issue #78 (#79)
  src/components/ReportDetailView.tsx
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests

fix: disable all chart hover effects and animations for Issue #80 (#81)
  src/components/ReportDetailView.tsx
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests

ui: increase font sizes across report components for better accessibility for Issue #86
  src/components/ReportDetailView.tsx
  src/components/report/CompositionChart.tsx
  src/components/report/ReportHeader.tsx
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests

fix: limit chart to last 5 records and apply all polishing fixes for Issue #82 (#83)
  src/components/ReportDetailView.tsx
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests

ui: further increase font sizes in report header and gauge for Issue #86
  src/components/report/Gauge.tsx
  src/components/report/ReportHeader.tsx
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests

ui: increase font sizes for composition chart and mfr for Issue #86
  src/components/ReportDetailView.tsx
  src/components/report/CompositionChart.tsx
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests

ui: increase font sizes for metabolic health, physical indices, and segmental headers for Issue #86
  src/components/ReportDetailView.tsx
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests

ui: replace rating with ratio and improve metric card uniformity for Issue #86
  src/components/ReportDetailView.tsx
Due: eslint --fix, bash -c 'npm run type-check', vitest related --run --passWithNoTests
