Repository judithsanchez/martas-health-lab: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests, prettier --write

.lintstagedrc:

{
    "*.{ts,tsx}": [
        "eslint --fix",
        "bash -c 'pnpm type-check'",
        "vitest related --run --passWithNoTests"
    ],
    "*.{js,jsx,json,md}": [
        "prettier --write"
    ]
}

Add Docker support and ARM64 build fixes
  .dockerignore
  .npmrc
  Dockerfile
  docker-compose.yml
  next.config.js
  src/app/clients/[id]/page.tsx
  src/app/clients/[id]/reports/[reportId]/page.tsx
  src/app/clients/page.tsx
  src/app/page.tsx
  src/lib/db/index.ts
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests, prettier --write

Fix quality checks and add automated deployment to CI/CD
  .github/workflows/ci.yml
  .lintstagedrc
  package-lock.json
  src/lib/actions/clients.ts
  src/lib/actions/persist-csv.ts
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests, prettier --write

Add Docker support and ARM64 build fixes (#42)
  .dockerignore
  .github/workflows/ci.yml
  .lintstagedrc
  .npmrc
  Dockerfile
  docker-compose.yml
  next.config.js
  package-lock.json
  src/app/clients/[id]/page.tsx
  src/app/clients/[id]/reports/[reportId]/page.tsx
  src/app/clients/page.tsx
  src/app/page.tsx
  src/lib/actions/clients.ts
  src/lib/actions/persist-csv.ts
  src/lib/db/index.ts
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests, prettier --write

Add Tailscale connection to deployment job
  .github/workflows/ci.yml
Due: none

Sync all Docker and CI/CD fixes to main
  .github/workflows/ci.yml
Due: none

Sync all Docker and CI/CD fixes to main (#43)
  .github/workflows/ci.yml
Due: none

fix(ui): surgically restore Premium UI from cf50a93 while preserving Docker infra
  src/app/clients/[id]/page.tsx
  src/app/page.tsx
  src/components/ReportDetailView.tsx
  src/components/report/CompositionChart.tsx
  src/components/report/ReportHeader.tsx
  src/lib/utils/health-calculations.ts
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests

fix(pdf): allow pdf generation from tailscale and local network ips
  src/app/api/reports/[clientId]/[reportId]/pdf/route.ts
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests

fix(pdf): allow pdf generation from tailscale and local network ips (#46)
  src/app/api/reports/[clientId]/[reportId]/pdf/route.ts
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests

fix(pdf): force localhost for internal generation to fix tailscale routing
  src/app/api/reports/[clientId]/[reportId]/pdf/route.ts
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests

fix(pdf): force localhost for internal generation to fix tailscale routing (#47)
  src/app/api/reports/[clientId]/[reportId]/pdf/route.ts
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests

fix(dashboard): use direct db count for monthly measurements
  src/app/page.tsx
  src/lib/actions/clients.ts
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests

fix(dashboard): use direct db count for monthly measurements (#48)
  src/app/page.tsx
  src/lib/actions/clients.ts
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests

feat(ui): apply Premium UI to Manage Clients page
  src/app/clients/page.tsx
  src/components/ClientManager.tsx
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests

Refactor/style clients page (#50)
  src/app/clients/page.tsx
  src/components/ClientManager.tsx
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests

feat(reports): implement collapsible sidebar and update report columns
  src/components/ClientDetailsView.tsx
  src/components/Sidebar.tsx
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests

Fix/reports page bugs (#52)
  src/components/ClientDetailsView.tsx
  src/components/Sidebar.tsx
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests

style: remove italics and translate to spanish
  src/components/ClientDetailsView.tsx
  src/components/Sidebar.tsx
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests

style: remove italics and translate to spanish (#53)
  src/components/ClientDetailsView.tsx
  src/components/Sidebar.tsx
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests

fix(dashboard): format user weight to 1 decimal place
  src/components/ClientListWidget.tsx
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests

feat(dashboard): expand client card with full measurement metrics
  src/components/ClientListWidget.tsx
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests

fix(report): calculate age dynamically from birthday if missing
  src/components/ReportDetailView.tsx
  src/lib/utils/health-calculations.ts
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests

fix(report): enforce 1 decimal max precision on all metrics
  src/components/ReportDetailView.tsx
  src/components/report/CompositionChart.tsx
  src/components/report/ReportHeader.tsx
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests

fix(report): customize history chart tooltips to remove english labels and format decimals
  src/components/ReportDetailView.tsx
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests

fix(report): refactor segmental analysis table to use headers instead of repeated labels
  src/components/ReportDetailView.tsx
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests

General bug bash (#54)
  src/components/ClientListWidget.tsx
  src/components/ReportDetailView.tsx
  src/components/report/CompositionChart.tsx
  src/components/report/ReportHeader.tsx
  src/lib/utils/health-calculations.ts
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests

feat: implement responsive UI for dashboard, clients, and reports; ensure PDF safety
  src/app/api/reports/[clientId]/[reportId]/pdf/route.ts
  src/app/clients/page.tsx
  src/app/page.tsx
  src/components/ClientListWidget.tsx
  src/components/ClientManager.tsx
  src/components/ReportDetailView.tsx
  src/components/report/CompositionChart.tsx
  src/components/report/ReportHeader.tsx
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests

test: add happy path tests for health calculations
  src/test/health-calculations.test.ts
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests

Feat/responsive UI pdf safe (#55)
  src/app/api/reports/[clientId]/[reportId]/pdf/route.ts
  src/app/clients/page.tsx
  src/app/page.tsx
  src/components/ClientListWidget.tsx
  src/components/ClientManager.tsx
  src/components/ReportDetailView.tsx
  src/components/report/CompositionChart.tsx
  src/components/report/ReportHeader.tsx
  src/test/health-calculations.test.ts
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests

fix: make sidebar responsive (off-canvas on mobile)
  src/app/layout.tsx
  src/components/Sidebar.tsx
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests

fix: make sidebar responsive (off-canvas on mobile) (#56)
  src/app/layout.tsx
  src/components/Sidebar.tsx
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests

fix(upload): use writable data volume and increase body size limit
  next.config.js
  src/lib/actions/csv-upload.ts
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests, prettier --write

fix(upload): use writable data volume and increase body size limit (#57)
  next.config.js
  src/lib/actions/csv-upload.ts
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests, prettier --write

fix: add XLSX support and robust error handling for uploads
  package.json
  pnpm-lock.yaml
  src/components/CsvUploadFlow.tsx
  src/lib/actions/__tests__/xlsx-upload.test.ts
  src/lib/actions/csv-upload.ts
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests, prettier --write

fix: add XLSX support and robust error handling for uploads (#61)
  package.json
  pnpm-lock.yaml
  src/components/CsvUploadFlow.tsx
  src/lib/actions/__tests__/xlsx-upload.test.ts
  src/lib/actions/csv-upload.ts
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests, prettier --write

fix: unified XLSX/CSV parsing and improved encoding robustness
  src/lib/actions/__tests__/csv-upload.test.ts
  src/lib/actions/__tests__/xlsx-upload.test.ts
  src/lib/actions/csv-upload.ts
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests

fix: unified XLSX/CSV parsing and improved encoding robustness (#62)
  src/lib/actions/__tests__/csv-upload.test.ts
  src/lib/actions/__tests__/xlsx-upload.test.ts
  src/lib/actions/csv-upload.ts
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests

feat: implement persistent system logging and integrate across actions
  package.json
  pnpm-lock.yaml
  src/components/CsvUploadFlow.tsx
  src/components/__tests__/CsvUploadFlow.test.tsx
  src/lib/actions/__tests__/csv-upload.test.ts
  src/lib/actions/__tests__/xlsx-upload.test.ts
  src/lib/actions/clients.ts
  src/lib/actions/csv-upload.ts
  src/lib/actions/persist-csv.ts
  src/lib/actions/records.ts
  src/lib/db/schema.ts
  src/lib/logger.ts
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests, prettier --write
