Repository judithsanchez/martas-health-lab: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests, prettier --write

.lintstagedrc:

{
    "*.{ts,tsx}": [
        "eslint --fix",
        "bash -c 'pnpm type-check'",
        "vitest related --run --passWithNoTests"
    ],
    "*.{js,jsx,json,md}": [
        "prettier --write"
    ]
}

feat: implement happy path tests for CSV upload and client assignment
  .agent/rules/agent.md
  README.md
  package.json
  pnpm-lock.yaml
  src/app/page.tsx
  src/components/CsvUploadFlow.tsx
  src/components/__tests__/CsvUploadFlow.test.tsx
  src/lib/actions/__tests__/clients.test.ts
  src/lib/actions/__tests__/csv-upload.test.ts
  src/lib/actions/__tests__/persist-csv.test.ts
  src/test/setup.ts
  tsconfig.tsbuildinfo
  vitest.config.ts
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests, prettier --write

Refined Client CSV Upload (Per-Row Assignment) (#11)
  .agent/rules/agent.md
  .eslintrc.json
  .gitignore
  .husky/pre-commit
  .lintstagedrc
  README.md
  measures_a.csv
  measures_b.csv
  measures_c.csv
  package.json
  pnpm-lock.yaml
  src/app/page.tsx
  src/app/upload/page.tsx
  src/components/CsvUploadFlow.tsx
  src/components/__tests__/CsvUploadFlow.test.tsx
  src/lib/actions/__tests__/clients.test.ts
  src/lib/actions/__tests__/csv-upload.test.ts
  src/lib/actions/__tests__/persist-csv.test.ts
  src/lib/actions/clients.ts
  src/lib/actions/csv-upload.ts
  src/lib/actions/persist-csv.ts
  src/lib/db/schema.ts
  src/test/setup.ts
  src/test/smoke.test.ts
  tsconfig.json
  tsconfig.tsbuildinfo
  uploads/.gitkeep
  uploads/1769946969678-test-measurements.csv
  vitest.config.ts
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests, prettier --write

ci: add GitHub Actions workflow for lint, type-check, and tests
  .github/workflows/ci.yml
Due: none

ci: fix pnpm version mismatch in workflow
  .github/workflows/ci.yml
Due: none

ci: add missing scripts to package.json
  package.json
Due: prettier --write

ci: add testing infrastructure and dependencies
  .agent/rules/agent.md
  uploads/1769947298621-measures_a.csv
  uploads/1769947460177-measures_a.csv
Due: prettier --write

ci: fix test command argument
  .github/workflows/ci.yml
Due: none

feat: setup GitHub Actions CI workflow (#13)
  .agent/rules/agent.md
  .github/workflows/ci.yml
  package.json
  uploads/1769947298621-measures_a.csv
  uploads/1769947460177-measures_a.csv
Due: prettier --write

feat: implement dashboard and data fetching
  src/app/page.tsx
  src/components/CsvUploadFlow.tsx
  src/lib/actions/clients.ts
  src/lib/actions/csv-upload.ts
  src/lib/db/index.ts
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests

fix(test): update papaparse mock to support both named and default exports
  src/lib/actions/__tests__/csv-upload.test.ts
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests

feat: implement dashboard view (#16)
  src/app/page.tsx
  src/components/CsvUploadFlow.tsx
  src/lib/actions/__tests__/csv-upload.test.ts
  src/lib/actions/clients.ts
  src/lib/actions/csv-upload.ts
  src/lib/db/index.ts
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests

feat(tanita): Complete integration with robust tests
  measures_a.csv
  measures_b.csv
  measures_c.csv
  scripts/verify-time.ts
  src/app/page.tsx
  src/components/CsvUploadFlow.tsx
  src/lib/__tests__/tanita-parser.test.ts
  src/lib/actions/__tests__/csv-upload.test.ts
  src/lib/actions/clients.ts
  src/lib/actions/csv-upload.ts
  src/lib/actions/persist-csv.ts
  src/lib/db/schema.ts
  src/lib/tanita-config.json
  src/lib/tanita-parser.ts
  tsconfig.tsbuildinfo
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests, prettier --write

chore: remove tsconfig.tsbuildinfo and add to gitignore
  .gitignore
  tsconfig.tsbuildinfo
Due: none

chore: ignore local data and uploads
  .gitignore
Due: none

feat(tanita): Tanita BC-601 Integration & Dashboard Update (#17)
  .gitignore
  measures_a.csv
  measures_b.csv
  measures_c.csv
  scripts/verify-time.ts
  src/app/page.tsx
  src/components/CsvUploadFlow.tsx
  src/lib/__tests__/tanita-parser.test.ts
  src/lib/actions/__tests__/csv-upload.test.ts
  src/lib/actions/clients.ts
  src/lib/actions/csv-upload.ts
  src/lib/actions/persist-csv.ts
  src/lib/db/schema.ts
  src/lib/tanita-config.json
  src/lib/tanita-parser.ts
  tsconfig.tsbuildinfo
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests, prettier --write

feat: User & Record Management API
  src/lib/actions/__tests__/clients.test.ts
  src/lib/actions/__tests__/records.test.ts
  src/lib/actions/clients.ts
  src/lib/actions/records.ts
  src/lib/db/schema.ts
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests

feat: User & Record Management UI
  src/app/clients/[id]/page.tsx
  src/app/clients/page.tsx
  src/app/page.tsx
  src/components/ClientDetailsView.tsx
  src/components/ClientForm.tsx
  src/components/ClientManager.tsx
  src/components/RecordForm.tsx
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests

feat: User & Record Management API (#19)
  src/lib/actions/__tests__/clients.test.ts
  src/lib/actions/__tests__/records.test.ts
  src/lib/actions/clients.ts
  src/lib/actions/records.ts
  src/lib/db/schema.ts
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests

feat: User & Record Management UI (#21)
  src/app/clients/[id]/page.tsx
  src/app/clients/page.tsx
  src/app/page.tsx
  src/components/ClientDetailsView.tsx
  src/components/ClientForm.tsx
  src/components/ClientManager.tsx
  src/components/RecordForm.tsx
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests

refactor: Premium UI & Dashboard Overhaul
  src/app/layout.tsx
  src/app/page.tsx
  src/components/ClientDetailsView.tsx
  src/components/NavBar.tsx
  src/lib/actions/clients.ts
  tailwind.config.ts
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests

refactor: Premium UI & Dashboard Overhaul (#23)
  src/app/layout.tsx
  src/app/page.tsx
  src/components/ClientDetailsView.tsx
  src/components/NavBar.tsx
  src/lib/actions/clients.ts
  tailwind.config.ts
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests

style: finalize dashboard layout and proportions (fixes #25)
  src/app/page.tsx
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests

feat: Sidebar Layout & Dashboard V2
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
  src/app/page.tsx
  src/components/NavBar.tsx
  src/components/Sidebar.tsx
  tailwind.config.ts
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests, prettier --write

style: Final UI refinements (Sans-serif fonts, Header cleanup, List filter)
  src/app/page.tsx
  src/components/ClientListWidget.tsx
  src/components/Sidebar.tsx
  src/lib/actions/clients.ts
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests

style: Move welcome message to main container and remove sticky header
  src/app/page.tsx
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests

refactor: Final Dashboard & Sidebar UI Refinements (#24)
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
  src/app/page.tsx
  src/components/ClientListWidget.tsx
  src/components/NavBar.tsx
  src/components/Sidebar.tsx
  src/lib/actions/clients.ts
  tailwind.config.ts
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests, prettier --write

feat: implement clinical health metrics and detailed report pages
  src/app/clients/[id]/reports/[reportId]/page.tsx
  src/components/ClientDetailsView.tsx
  src/components/ClientForm.tsx
  src/components/RecordForm.tsx
  src/components/ReportDetailView.tsx
  src/lib/actions/clients.ts
  src/lib/actions/records.ts
  src/lib/db/schema.ts
  src/lib/utils/health-calculations.ts
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests

feat: align gender parsing with hardware config (1=male, 2=female)
  src/lib/__tests__/tanita-parser.test.ts
  src/lib/tanita-parser.ts
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests

feat: enhance report detail view with missing metrics and tooltips
  src/components/ReportDetailView.tsx
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests

feat: Clinical Health Metrics & Detailed Report Pages (#27)
  src/app/clients/[id]/reports/[reportId]/page.tsx
  src/components/ClientDetailsView.tsx
  src/components/ClientForm.tsx
  src/components/RecordForm.tsx
  src/components/ReportDetailView.tsx
  src/lib/__tests__/tanita-parser.test.ts
  src/lib/actions/clients.ts
  src/lib/actions/records.ts
  src/lib/db/schema.ts
  src/lib/tanita-parser.ts
  src/lib/utils/health-calculations.ts
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests

feat: advanced reporting with progress charts and health scales
  package.json
  pnpm-lock.yaml
  src/app/clients/[id]/reports/[reportId]/page.tsx
  src/components/ReportDetailView.tsx
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests, prettier --write

feat: advanced reporting with progress charts and health scales (#28)
  package.json
  pnpm-lock.yaml
  src/app/clients/[id]/reports/[reportId]/page.tsx
  src/components/ReportDetailView.tsx
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests, prettier --write

feat: enhance report view with user context and layout refinements
  src/components/ReportDetailView.tsx
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests

feat: refine report UI, replace BMI with FFMI, and add health reference data
  src/components/ReportDetailView.tsx
  src/lib/utils/health-calculations.ts
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests

feat: refine report header, split age/birthday, and add activity labels
  src/components/ReportDetailView.tsx
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests

feat: replace weight card with FFMI gauge in hero section
  src/components/ReportDetailView.tsx
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests

feat: refine FFMI gauge with arc labels and remove FFMI heading
  src/components/ReportDetailView.tsx
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests

feat: complete FFMI gauge with reference link, adjusted labels, and unit tests
  src/components/ReportDetailView.tsx
  src/lib/utils/__tests__/health-calculations.test.ts
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests

style: center FFMI gauge and labels within container
  src/components/ReportDetailView.tsx
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests

refactor: redesign composition section with dashboard layout, science-backed metrics, and gold MFR card
  src/components/ReportDetailView.tsx
  src/lib/utils/health-calculations.ts
Due: eslint --fix, bash -c 'pnpm type-check', vitest related --run --passWithNoTests
